@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  @layer utilities {
    .brightness-custom {
      filter: brightness(0.6);
    }
  }
  @layer utilities {
    .btn {
        @apply bg-gradient-to-br from-blue-700  via-gray-400 to-yellow-500  rounded-full hover:scale-105 transition-transform shadow-xl hover:shadow-2xl text-white;
    }
}
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Kaydırma çubuğunu gizler */
  }
  .custom-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer için */
    scrollbar-width: none;  /* Firefox için */
  }
}

.click-effect:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
/* Grass (Çim) */
.grass-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(34, 139, 34, 0.5), inset 0 0 20px rgba(0, 255, 127, 0.6);
}

/* Poison (Zehir) */
.poison-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(138, 43, 226, 0.5), inset 0 0 20px rgba(153, 50, 204, 0.6);
}

/* Fire (Ateş) */
.fire-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.8), 0 0 20px rgba(255, 140, 0, 0.8);
}

/* Water (Su) */
.water-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 191, 255, 0.5), inset 0 0 20px rgba(0, 140, 255, 0.7);
}

/* Flying (Uçan) */
.flying-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(135, 206, 250, 0.6), inset 0 0 20px rgba(176, 224, 230, 0.7);
}

/* Bug (Böcek) */
.bug-effect {
  background-size: cover;
  box-shadow: 0 0 10px rgba(50, 205, 50, 0.6), inset 0 0 20px rgba(34, 139, 34, 0.7);
}

/* Normal */
.normal-effect {
  background-size: cover;
  box-shadow: 0 0 25px rgba(90, 90, 90, 0.952), inset 0 0 20px rgba(192, 192, 192, 0.5);
}

/* Electric (Elektrik) */
.electric-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(255, 255, 0, 1), inset 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Ground (Yer) */
.ground-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(160, 82, 45, 0.7), inset 0 0 20px rgba(210, 180, 140, 0.6);
}

/* Fairy (Peri) */
.fairy-effect {
  background-size: cover;
  box-shadow: 0 0 25px rgba(255, 192, 203, 0.5), inset 0 0 20px rgba(255, 182, 193, 0.7);
}

/* Fighting (Dövüş) */
.fighting-effect {
  background-size: cover;
  box-shadow: 0 0 25px rgba(255, 69, 0, 0.6), inset 0 0 20px rgba(255, 0, 0, 0.7);
}

/* Psychic (Psişik) */
.psychic-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(255, 20, 147, 0.7), inset 0 0 20px rgba(255, 105, 180, 0.6);
}

/* Ice (Buz) */
.ice-effect {
  background-size: cover;
  box-shadow: 0 0 25px rgba(0, 191, 255, 0.7), inset 0 0 30px rgba(70, 130, 180, 0.8);
}

/* Rock (Taş) */
.rock-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(169, 169, 169, 0.7), inset 0 0 20px rgba(128, 128, 128, 0.6);
}

/* Ghost (Hayalet) */
.ghost-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.7), inset 0 0 25px rgba(75, 0, 130, 0.6);
}

/* Dragon (Ejderha) */
.dragon-effect {
  background-size: cover;
  box-shadow: 0 0 25px rgba(75, 0, 130, 0.7), inset 0 0 25px rgba(138, 43, 226, 0.6);
}

/* Steel (Çelik) */
.steel-effect {
  background-size: cover;
  box-shadow: 0 0 20px rgba(119, 136, 153, 0.7), inset 0 0 20px rgba(176, 196, 222, 0.6);
}

/* Dark (Karanlık) */
.dark-effect {
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8), inset 0 0 20px rgba(50, 50, 50, 0.7);
}

.custom-hr-x {
  border: 0;
  height: 3.5px;  /* Çizginin yüksekliği */
  background: linear-gradient(to right, 
  rgba(255, 255, 255, 0) 0%,   /* Sol kenar: şeffaf */
  rgba(255, 255, 255, 1) 50%,  /* Ortada: tam opak */
  rgba(255, 255, 255, 0) 100%  /* Sağ kenar: şeffaf */
  );
  margin: 20px 0;
}
.custom-hr-y {
  width: 7.7px; /* Çizginin genişliği */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,   /* Üst kenar: şeffaf */
    rgba(255, 255, 255, 1) 50%,  /* Ortada: tam opak */
    rgba(255, 255, 255, 0) 100%  /* Alt kenar: şeffaf */
    );
  }
  
  .bg-rainbow {
    background: linear-gradient(to bottom right, rgb(185, 0, 0),  #cec000de, #00a396c2, rgba(0, 0, 180, 0.678) );
  }